<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142340602782-d0sogge1b52790a9trlkttm79jqrga8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142340602782-d0sogge1b52790a9trlkttm79jqrga8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCCQ8wc0XcCHPRTZn45HV-alrKkWj33KMM</string>
	<key>GCM_SENDER_ID</key>
	<string>142340602782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManagingApp</string>
	<key>PROJECT_ID</key>
	<string>on-duty-b1e73</string>
	<key>STORAGE_BUCKET</key>
	<string>on-duty-b1e73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142340602782:ios:a8fd763d94d77e04a8b48f</string>
</dict>
</plist>